<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bienvenue sur la SPA{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="{{ asset('css/select2-materialize.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="nav-orange lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ path('homepage') }}" class="brand-logo">SPA </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Nos animaux<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Avis de recherche<i class="material-icons right">arrow_drop_down</i></a></li>

            {% if app.user %}
                <li><a href="{{ path('admin_index') }}">Admin</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% endif %}
        </ul>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ path('listDog') }}">Voir nos chiens</a></li>
            <li><a href="{{ path('listCat') }}">Voir nos chats</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="{{ path('wanted') }}">Signaler une disparition</a></li>
            <li><a href="{{ path('listWanted') }}">Animaux disparu</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Nos animaux<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Avis de recherche<i class="material-icons right">arrow_drop_down</i></a></li>

            {% if app.user %}
                <li><a href="{{ path('admin_index') }}">Admin</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% endif %}
            <ul id="dropdown3" class="dropdown-content">
                <li><a href="{{ path('listDog') }}">Voir nos chiens</a></li>
                <li><a href="{{ path('listCat') }}">Voir nos chats</a></li>
            </ul>
            <ul id="dropdown4" class="dropdown-content">
                <li><a href="{{ path('wanted') }}">Signaler une disparition</a></li>
                <li><a href="{{ path('listWanted') }}">Animaux disparu</a></li>
            </ul>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

{% block body %}{% endblock %}


<footer class="page-footer teal darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SPA </h5>
                <p class="grey-text text-lighten-4">Vous pouvez nous contacter au xx xx xx xx xx</p>
                <p class="grey-text text-lighten-4">
                    Refuge de la Galoperie<br>

                    8B Quartier de la Galoperie<br>

                    59186 Anor<br>

                </p>
                <p class="grey-text text-lighten-4">
                    Tous les jours de 14h à 17h

                    sauf les dimanches et jours fériés
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Partenaires</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://spa-grande-thierache.fr/">SPA Hirson</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.la-spa.fr/">Société protectrice des animaux</a></li>
                     <li><a class="grey-text text-lighten-3" href="http://www.ville-maubeuge.fr/">Ville de Maubeuge</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright teal darken-2">
        <div class="container">
            © 2017 Copyright - <a href="{{ path('legal_notice') }}">Mentions légales</a>
            {% if app.user %}
                <a class="grey-text text-lighten-4 right" href="{{ path('logout') }}"><i class="fa fa-power-off" aria-hidden="true"></i>
                </a>
            {% else %}
                <a class="grey-text text-lighten-4 right" href="{{ path('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </div>
</footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="https://use.fontawesome.com/1395a15f53.js"></script>
<script>

    $('.parallax').parallax();

    $(".button-collapse").sideNav();

    $(".dropdown-button").dropdown();

</script>

<script src="{{ asset('js/cookiechoices.js') }}"></script><script>document.addEventListener('DOMContentLoaded', function(event){cookieChoices.showCookieConsentBar('Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, vous acceptez l’utilisation des cookies.', 'J’accepte', 'En savoir plus', 'mentions-legales');});</script>
{% block javascripts %}
{% endblock %}
</body>
</html>
