{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .icon_style{
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 20px;
            color: white;
            cursor:pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            {% for message in app.flashes('notice') %}
                <div class="row" id="alert_box">
                    <div class="col s12 m12">
                        <div class="card green darken-1">
                            <div class="row">
                                <div class="col s12 m10">
                                    <div class="card-content white-text">
                                        <p>{{ message }}</p>
                                    </div>
                                </div>
                                <div class="col s12 m2">
                                    <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <h3>Signalez une disparition</h3>

            <p>Vous pouvez prévenir de la disparition de votre animal et ainsi diffuser l'avis de recherche sur le site après validation d'un administrateur.</p>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.name) }}
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.type) }}
                    {{ form_label(form.type) }}
                    {{ form_errors(form.type) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.phone) }}
                    {{ form_label(form.phone) }}
                    {{ form_errors(form.phone) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.tattooNumber) }}
                    {{ form_label(form.tattooNumber) }}
                    {{ form_errors(form.tattooNumber) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.city) }}
                    {{ form_label(form.city) }}
                    {{ form_errors(form.city) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.dateDisappearance) }}
                    {{ form_label(form.dateDisappearance) }}
                    {{ form_errors(form.dateDisappearance) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.comment) }}
                    {{ form_label(form.comment) }}
                    {{ form_errors(form.comment) }}
                </div>
            </div>

            <div class="row">
                <div class="file-field input-field mb-15">
                    <div class="btn">
                        <span>Photo</span>
                        {{ form_widget(form.image) }}

                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    {{ form_errors(form.image) }}

                </div>
            </div>


            <div class="row">
                <div class="col s12 mt-25 right-align">
                    <button type="submit" class="waves-effect waves-light btn">Envoyer</button>
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        $('select').material_select();

        $('.datepicker').pickadate({
            monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            weekdaysLetter: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
            today: 'aujourd\'hui',
            clear: 'effacer',
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            close: 'Ok',
            closeOnSelect: false, // Close upon selecting a date,
            format: 'd mmmm, yyyy',
            formatSubmit: 'yyyy-mm-dd',
        });

        $('#alert_close').click(function(){
            $( "#alert_box" ).fadeOut( "slow", function() {
            });
        });
    </script>
{% endblock %}