{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">

            <h1 class="center-align">Connexion</h1>

            {% if countUser == 0 %}
                <p>Merci de creer un utilisteur avant de vous connecter - <a href="{{ path('register') }}">Inscription</a></p>
            {% endif %}

            <form action="{{ path('login') }}" method="post" class="col s6 offset-s3">

                {% if login.error %}
                    <div class="alert alert-danger">
                        {{ login.error.messageKey|trans(login.error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="username" name="_username" value="{{ login._username }}" class="validate"/>
                        <label for="username">Nom d'utilisateur</label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="password" name="_password" class="validate" />
                        <label for="password">Mot de passe</label>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                <button type="submit" name="connexion" class="btn blue">Connexion</button>

            </form>

        </div>

    </div>
{% endblock %}