{% extends 'base.html.twig' %}

{% block body %}


    <div class="section white center-align">
        <div class="row container">
            <h2 class="header">Bienvenue</h2>
            <p class="grey-text text-darken-3 lighten-3">

                Ici vous allez côtoyer la misère animale

                infligée par l'homme à des êtres sans défense . Ces chiens et chats ont donné leur

                fidélité et une affection à des maîtres qui ne s'en souviennent plus ...

                Peut- être pour des départs en vacances , ou ...Autre motif !

                Ces Animaux espèrent être sauvé par de nouveaux maîtres .


                Vous souhaitez savoir comment adopter un animal de notre refuge ? Vous vous posez des questions d’ordre pratique ? Nous avons toutes les réponses à vos questions.

            </p>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('img/cat-1551783_1920.jpg') }}"></div>
    </div>


    <div class="section white center-align">
        <div class="row container">
            <h2 class="header">Adoptez un chat ou un chien ?</h2>
            <p class="grey-text text-darken-3 lighten-3">
                <span>Vous avez la possibilité d'apoter un chat ou en chien dans notre refuge en contre partit de frais d'adoption. Pour les chats mâles ou femelles 140 &euro;, chaton jusqu'à 6 mois 150 &euro;. Pour les chiens les frais s'élève à 220 &euro; pour les mâles et 240 &euro; pour les femelles. Pour les chiots jusqu'à 6 mois 250 &euro;. Les frais demandé pour l'adoption permette d'identifier l'animal, le vacciné, déparasité et de le stérilisé</span>
            </p>
            <div>
                <a href="{{ path('listCat') }}" class="waves-effect waves-light btn-large"><i class="fa fa-paw"></i> Voir nos chats</a>
                <a href="{{ path('listDog') }}" class="waves-effect waves-light btn-large"><i class="fa fa-paw"></i> Voir nos chiens</a>
            </div>

            <div>
                {% if countDogNotAdoptedNotDeceased + countCatNotAdoptedNotDeceased == 0 %}
                    <h3>Il y a aucun animal en attente d'aption au refuge ! :D</h3>
                {% elseif (countDogNotAdoptedNotDeceased + countCatNotAdoptedNotDeceased == 1) %}
                    <h3>Il y a {{ countDogNotAdoptedNotDeceased + countCatNotAdoptedNotDeceased }} animal en attente d'aption au refuge !</h3>
                {% else %}
                    <h3>Il y a {{ countDogNotAdoptedNotDeceased + countCatNotAdoptedNotDeceased }} animaux en attente d'aption au refuge !</h3>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('img/chien-boiterie.jpg') }}"></div>
    </div>

{% endblock %}
