{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <h1 class="center-align">Inscription</h1>

            {{ form_start(form) }}

            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}

                    {% if not form.username.vars.valid %}
                        {% for error in form.username.vars.errors %}
                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}

                    {% if not form.email.vars.valid %}
                        {% for error in form.email.vars.errors %}
                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(form.password.first) }}
                    {{ form_widget(form.password.first) }}

                    {% if not form.username.vars.valid %}
                        {% for error in form.password.first.vars.errors %}
                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(form.password.second) }}
                    {{ form_widget(form.password.second) }}

                    {% if not form.password.second.vars.valid %}
                        {% for error in form.password.second.vars.errors %}
                            <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <button type="submit" name="inscription" class="btn blue">Inscription</button>

            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

