{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}


        <div class="row">

            {% if count_cat != 0 %}

                {% if count_cat == 1 %}
                    <h3>Nous avons {{ count_cat }} chat dans le refuge</h3>
                {% else %}
                    <h3>Nous avons {{ count_cat }} chats dans le refuge</h3>
                {% endif %}

                <ul class="pagination">
                    {% for p in range(1, nbPages) %}
                        <li {% if p == page %} class="active"{% endif %}>
                            <a href="{{ path('listCat', {'page': p}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if count_cat != 0 %}

                {% for liste in liste_cat %}
                    <div class="col s12 m6 xl4">
                        <div class="card">


                            <div class="card-image">
                                {% if liste.image != null %}
                                    <img class="responsive-img liste-cat-dog" src="{{ asset('uploads/img/' ~ liste.image.alt) }}">
                                {% else %}
                                    <img class="responsive-img liste-cat-dog" src="{{ asset('https://placeimg.com/640/480/animals') }}">
                                {% endif %}

                                <span class="card-title">{{ liste.name }}</span>
                                {% if liste.sexe == 1 %}
                                    <a class="btn-floating halfway-fab waves-effect waves-light blue ">
                                        <i class="fa fa-mars"></i>
                                    </a>
                                {% else %}
                                    <a class="btn-floating halfway-fab waves-effect waves-light pink ">
                                        <i class="fa fa-venus"></i>
                                    </a>
                                {% endif %}

                            </div>


                            <div class="card-action center-align">
                                <a href="#modal{{ liste.id }}">Un petit mot sur {{ liste.name }}</a>
                            </div>
                        </div>
                    </div>

                    {#Modal#}

                    <div id="modal{{ liste.id }}" class="modal">
                        <div class="modal-content">

                            <h4>Un petit mot sur {{ liste.name }}</h4>

                            <div class="row valign-wrapper">
                                <div class="col s2">
                                    <img src="{{ asset('https://placeimg.com/640/480/animals') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                </div>
                                <div class="col s10">

                                    {% if liste.cat == 2 %}
                                        <a class="waves-effect waves-light light-green btn tooltipped mb-5" data-position="bottom" data-delay="50" data-tooltip="S'entend avec les chiens"><span class="spa-my-icon-cat fs1"></span></a>
                                    {% elseif liste.cat == 1 %}
                                        <a class="waves-effect waves-light red btn tooltipped mb-5" data-position="bottom" data-delay="50" data-tooltip="Ne s'entend pas les chiens"><span class="spa-my-icon-cat fs1"></span></a>
                                    {% else %}
                                        <a class="waves-effect waves-light orange btn tooltipped mb-5" data-position="bottom" data-delay="50" data-tooltip="Iconnu"><span class="spa-my-icon-cat fs1"></span></a>
                                    {% endif %}

                                    {% if liste.cat == 2 %}
                                        <a class="waves-effect waves-light light-green btn tooltipped mb-5" data-position="bottom" data-delay="50" data-tooltip="S'entend avec les chats"><span class="spa-my-icon-cat fs1"></span></a>
                                    {% elseif liste.cat ==  1 %}
                                        <a class="waves-effect waves-light red btn tooltipped mb-5" data-position="bottom" data-delay="50" data-tooltip="Ne s'entend pas avec les chats"><span class="spa-my-icon-cat fs1"></span></a>
                                    {% else %}
                                        <a class="waves-effect waves-light orange btn tooltipped mb-5" data-position="bottom" data-delay="50" data-tooltip="Iconnu"><span class="spa-my-icon-cat fs1"></span></a>
                                    {% endif %}

                                    {% if liste.children == 2 %}
                                        <a class="waves-effect waves-light light-green btn tooltipped mb-5" data-position="bottom" data-delay="50" data-tooltip="S'entend avec les enfants"><span class="spa-my-icon-children fs1"></span></a>
                                    {% elseif liste.children == 1 %}
                                        <a class="waves-effect waves-light red btn tooltipped mb-5" data-position="bottom" data-delay="50" data-tooltip="Ne s'entend pas avec les enfants"><span class="spa-my-icon-children fs1"></span></a>
                                    {% else %}
                                        <a class="waves-effect waves-light orange btn tooltipped mb-5" data-position="bottom" data-delay="50" data-tooltip="Iconnu"><span class="spa-my-icon-children fs1"></span></a>
                                    {% endif %}

                                    <ul class="collection with-header">
                                        <li class="collection-item"><div>Non<a href="" class="secondary-content">{{ liste.name }}</a></div></li>
                                        <li class="collection-item"><div>Date de naissance<a href="" class="secondary-content">{{ liste.dateBirthday|date('d/m/Y') }}</a></div></li>
                                        <li class="collection-item"><div>Refuge<a href="#!" class="secondary-content">{{ liste.dateArriving|date('d/m/Y') }}</a></div></li>
                                        <li class="collection-item">
                                            <div>Age
                                                <a href="#!" class="secondary-content">
                                                    {% if liste.age == 0 %}
                                                        - d'un an
                                                    {% elseif liste.age == 1 %}
                                                        {{ liste.age }} an
                                                    {% else %}
                                                        {{ liste.age }} ans
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </li>
                                        {% if not liste.races.empty %}
                                            <li class="collection-item"><div>Race(s)<a href="#!" class="secondary-content">
                                                        {% for race in liste.races %}
                                                            {{ race.name }} {% if not loop.last %} - {% endif %}
                                                        {% endfor %}
                                                    </a>
                                                </div>
                                            </li>

                                        {% else %}
                                            <li class="collection-item"><div>Race(s)<a href="#!" class="secondary-content">

                                                    </a>
                                                </div>
                                            </li>
                                        {% endif %}
                                        <li class="collection-item"><div>Vacciné<a href="#!" class="secondary-content"> {% if liste.vaccine == 1 %} Oui {% else %} Non {% endif %}</a></div></li>
                                        <li class="collection-item"><div>Pucé<a href="#!" class="secondary-content"> {% if liste.puce == 1 %} Oui {% else %} Non {% endif %}</a></div></li>
                                        <li class="collection-item"><div>Castré<a href="#!" class="secondary-content">{% if liste.castrated == 1 %} Oui {% else %} Non {% endif %}</a></div></li>
                                        <li class="collection-item"><div>Taille<a href="#!" class="secondary-content">{% if liste.size == 3 %} Grand {% elseif liste.age == 2 %} Moyen {% else %} Petit {% endif %}</a></div></li>

                                    </ul>

                                    <h5>Commentaire :</h5>
                                    <span class="black-text">
                                        {{ liste.comment }}
                                      </span>


                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                        </div>
                    </div>
                {% endfor %}

            {% else %}

                <div class="col s12 center-align card card-message">
                    <h4>Attention</h4>
                    <p>Aucun chat à adopter n'a été trouvé dans la base de données !</p>
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
{% endblock %}