{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}


        <div class="row">

            {% if count_wanted != 0 %}

                {% if count_wanted == 0 %}
                    <h3>Nous avons {{ count_wanted }} aucun animal de recherché !</h3>
                {% elseif (count_wanted == 1) %}
                    <h3>Nous avons {{ count_wanted }} animal recherché !</h3>
                {% else %}
                    <h3>Nous avons {{ count_wanted }} animaux recherché !</h3>
                {% endif %}

                <ul class="pagination">
                    {% for p in range(1, nbPages) %}
                        <li {% if p == page %} class="active"{% endif %}>
                            <a href="{{ path('listWanted', {'page': p}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if count_wanted != 0 %}

                {% for liste in liste_wanted %}
                    <div class="col s12 m6 xl4">
                        <div class="card">

                            <div class="card-image">
                                {% if liste.image != null %}
                                    <img class="responsive-img liste-cat-dog" src="{{ asset('uploads/img/' ~ liste.image.alt) }}">
                                {% else %}
                                    <img class="responsive-img liste-cat-dog" src="{{ asset('https://placeimg.com/640/480/animals') }}">
                                {% endif %}

                                <span class="card-title">{{ liste.name }}</span>

                            </div>

                            <div class="card-action center-align">
                                <a href="#modal{{ liste.id }}">Un petit mot sur {{ liste.name }}</a>
                            </div>
                        </div>
                    </div>

                    {#Modal#}

                    <div id="modal{{ liste.id }}" class="modal">
                        <div class="modal-content">

                            <h4>Un petit mot sur {{ liste.name }}</h4>

                            <div class="row valign-wrapper">
                                <div class="col s2">
                                    <img src="{{ asset('uploads/img/' ~ liste.image.alt) }}" alt="{{ liste.name }}" class="circle responsive-img"> <!-- notice the "circle" class -->
                                </div>
                                <div class="col s10">

                                    <span class="black-text">
                                        {{ liste.comment }}
                                      </span>

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                        </div>
                    </div>
                {% endfor %}

            {% else %}

                <div class="col s12 center-align card card-message">
                    <h4>Attention</h4>
                    <p>Aucun animal recherché dans la base de données ! :D</p>
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
{% endblock %}