{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="col-md-12 col-sm-12 col-xs-12">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}

        <div class="x_panel">
            <div class="x_title">
                <h2>Ajout d'une adoption</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'}}) }}

                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">{{ form_label(form.adoptionCosts) }}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="checkbox">
                            <label>
                                {{ form_widget(form.adoptionCosts) }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.dateAdoption, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.dateAdoption) }}
                    </div>
                    {{ form_errors(form.dateAdoption) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.owner, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.owner) }}
                    </div>
                    {{ form_errors(form.owner) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.dog, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.dog) }}
                    </div>
                    {{ form_errors(form.dog) }}
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {

//            $('select').material_select();

            $('.datepicker').pickadate({
                weekdaysLetter: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                monthsFull: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
                monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec' ],
                weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
                weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
                today: 'Aujourd\'hui',
                clear: 'Effacer',
                close: 'Fermer',
                firstDay: 1,
                format: 'dd mmmm yyyy',
                formatSubmit: 'yyyy/mm/dd',
                labelMonthNext:"Mois suivant",
                labelMonthPrev:"Mois précédent",
                labelMonthSelect:"Sélectionner un mois",
                labelYearSelect:"Sélectionner une année",
                selectMonths: true,
                selectYears: 30
            });

            $('.select-adoption').select2({
                placeholder: "Selectionner ",
                allowClear: true,
                maximumSelectionLength: 2

            });
        });

    </script>

{% endblock %}

