{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .puce-choice-yes{
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="col-md-12 col-sm-12 col-xs-12">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="x_panel">
            <div class="x_title">
                <h2>Ajout d'un chat</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                {{ form_start(addCat, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'}}) }}

                <div class="form-group">
                    {{ form_label(addCat.name, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.name) }}
                        {% if not addCat.name.vars.valid %}
                            {% for error in addCat.name.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.races, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.races) }}
                        {% if not addCat.races.vars.valid %}
                            {% for error in addCat.races.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.sexe, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.sexe) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.size, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.size) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Est-il pucé ?</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select name="puce-choice" id="puce-choice-select" class="form-control">
                            <option value="" disabled selected>Choisir une option</option>
                            <option value="1">Oui</option>
                            <option value="0">Non</option>
                        </select>
                    </div>
                </div>

                <div class="form-group puce-choice-yes">
                    {{ form_label(addCat.puce, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.puce) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.castrated, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.castrated) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.vaccine, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.vaccine) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.dog, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.dog) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.cat, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.cat) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.children, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.children) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.dateBirthday, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.dateBirthday) }}
                        {% if not addCat.dateBirthday.vars.valid %}
                            {% for error in addCat.dateBirthday.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.dateArriving, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.dateArriving) }}
                        {% if not addCat.dateArriving.vars.valid %}
                            {% for error in addCat.dateArriving.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.deceased, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.deceased) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.comment, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.comment) }}
                        {% if not addCat.comment.vars.valid %}
                            {% for error in addCat.comment.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addCat.image, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addCat.image) }}
                        {% if not addCat.image.vars.valid %}
                            {% for error in addCat.image.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </div>

                {{ form_end(addCat) }}

            </div>
        </div>
    </div>

{% endblock %}
