{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .puce-choice-yes{
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="col-md-12 col-sm-12 col-xs-12">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="x_panel">
            <div class="x_title">
                <h2>Ajout d'un chien</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                {{ form_start(addDog, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'}}) }}

                <div class="form-group">
                    {{ form_label(addDog.name, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.name) }}
                        {% if not addDog.name.vars.valid %}
                            {% for error in addDog.name.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.races, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.races) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.sexe, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.sexe) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.size, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.size) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Est-il pucé ?</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select name="puce-choice" id="puce-choice-select" class="form-control">
                            <option value="" disabled selected>Choisir une option</option>
                            <option value="1">Oui</option>
                            <option value="0">Non</option>
                        </select>
                    </div>
                </div>

                <div class="form-group puce-choice-yes">
                    {{ form_label(addDog.puce, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.puce) }}
                        {{ form_errors(addDog.puce) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.castrated, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.castrated) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.vaccine, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.vaccine) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.dog, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.dog) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.cat, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.cat) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.children, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.children) }}
                        {{ form_errors(addDog.children) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.dateBirthday, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.dateBirthday) }}
                        {% if not addDog.dateBirthday.vars.valid %}
                            {% for error in addDog.dateBirthday.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.dateArriving, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.dateArriving) }}
                        {% if not addDog.dateArriving.vars.valid %}
                            {% for error in addDog.dateArriving.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.deceased, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.deceased) }}
                        {{ form_errors(addDog.deceased) }}

                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.image, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.image) }}
                        {% if not addDog.image.vars.valid %}
                            {% for error in addDog.image.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addDog.comment, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addDog.comment) }}
                    </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </div>

                {{ form_end(addDog) }}

            </div>
        </div>
    </div>

{% endblock %}
