{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="col-md-12 col-sm-12 col-xs-12">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}

        <div class="x_panel">
            <div class="x_title">
                <h2>Ajout d'un propriétaire</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                {{ form_start(addOwner, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'}}) }}

                <div class="form-group">
                    {{ form_label(addOwner.firstName, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addOwner.firstName) }}
                        {{ form_errors(addOwner.firstName) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addOwner.lastName, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addOwner.lastName) }}
                        {{ form_errors(addOwner.lastName) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addOwner.email, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addOwner.email) }}
                        {{ form_errors(addOwner.email) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addOwner.address, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addOwner.address) }}
                        {{ form_errors(addOwner.address) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addOwner.postalCode, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addOwner.postalCode) }}
                        {{ form_errors(addOwner.postalCode) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addOwner.city, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addOwner.city) }}
                        {{ form_errors(addOwner.city) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(addOwner.phone, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(addOwner.phone) }}
                        {{ form_errors(addOwner.phone) }}
                    </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </div>

                {{ form_end(addOwner) }}

            </div>
        </div>
    </div>


{% endblock %}

