<!DOCTYPE html>
<html>
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">

    <title>{% block title %} Accueil {% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('admin/assets/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('admin/assets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('admin/assets/nprogress/nprogress.css') }}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{{ asset('admin/assets/iCheck/skins/flat/green.css') }}" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="{{ asset('admin/assets/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
        <!-- JQVMap -->
        <link href="{{ asset('admin/assets/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>
        <!-- bootstrap-datepicker -->
        <link href="{{ asset('admin/assets/datepicker/css/bootstrap-datepicker.css') }}" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{{ asset('admin/build/css/custom.min.css') }}" rel="stylesheet">
        <link href="{{ asset('admin/build/css/custom-admin.css') }}" rel="stylesheet">
        <!-- Select2  -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <link href="{{ asset('admin/build/css/select2-bootstrap.css') }}" rel="stylesheet" />
    {% endblock %}
</head>

<body class="nav-md">

<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ path('homepage') }}" class="site_title"><i class="fa fa-paw"></i> <span>Admin SPA</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="https://placeimg.com/640/480/animals" alt="admin." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ app.user.username }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a href="{{ path('admin_index') }}"><i class="fa fa-home"></i> Accueil</a></li>
                            <li><a><i class="fa fa-paw"></i> Chiens <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('admin_addDog') }}">Ajout d'un chien</a></li>
                                    <li><a href="{{ path('admin_list_dog') }}">Liste des chiens</a></li>
                                    <li><a href="{{ path('admin_addAdoptionDog') }}">Adoption d'un chien</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-paw"></i> Chats <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('admin_addCat') }}">Ajout d'un chat</a></li>
                                    <li><a href="{{ path('admin_list_cat') }}">Liste des chats</a></li>
                                    <li><a href="{{ path('admin_addAdoptionCat') }}">Adoption d'un chat</a></li>

                                </ul>
                            </li>
                            <li><a><i class="fa fa-user"></i> Adopteurs <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('admin_addOwner') }}">Ajout d'un propiétaire</a></li>
                                    <li><a href="{{ path('admin_list_owner') }}">Liste des propriétaires</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-binoculars"></i> Avis de recherche
                                    <span class="fa fa-chevron-down"></span>
                                    <span class="label label-success pull-right">{{ CountWanted() }} </span>
                                </a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('admin_validation_wanted') }}">Validation</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="https://placeimg.com/640/480/animals" alt="">{{ app.user.username }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="{{ path('homepage') }}">Accueil du site</a></li>
                                <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out pull-right"></i> Déconnexion</a></li>
                            </ul>
                        </li>


                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            {% block body %}{% endblock %}
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Zone administration
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset('admin/assets/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('admin/assets/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('admin/assets/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('admin/assets/nprogress/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('admin/assets/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('admin/assets/gauge.js/dist/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('admin/assets/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('admin/assets/iCheck/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('admin/assets/skycons/skycons.js') }}"></script>
    <!-- Flot -->
    <script src="{{ asset('admin/assets/Flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('admin/assets/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('admin/assets/Flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('admin/assets/Flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('admin/assets/Flot/jquery.flot.resize.js') }}"></script>
    <!-- Flot plugins -->
    <script src="{{ asset('admin/assets/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ asset('admin/assets/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
    <script src="{{ asset('admin/assets/flot.curvedlines/curvedLines.js') }}"></script>
    <!-- DateJS -->
    <script src="{{ asset('admin/assets/DateJS/build/date.js') }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('admin/assets/jqvmap/dist/jquery.vmap.js') }}"></script>
    <script src="{{ asset('admin/assets/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
    <script src="{{ asset('admin/assets/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('admin/assets/moment/min/moment.min.js') }}"></script>
   
    <script src="{{ asset('admin/assets/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datepicker/locales/bootstrap-datepicker.fr.min.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('admin/build/js/custom.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {

            $('.date-calendar').datepicker({
                clearBtn: true,
                language: "fr"
            });
            

            $('.race').select2({
                maximumSelectionLength: 2,
                theme: 'bootstrap'
            });
            $('.select-adoption').select2({
                placeholder: "Selectionner ",
                theme: 'bootstrap'

            });
            $('#puce-choice-select').change(function () {

                var val = $('#puce-choice-select option:selected').val();
                console.log(val);
                if (val == 1)
                {
                    $('.puce-choice-yes').show();
                    console.log('1');
                }else{
                    $('.puce-choice-yes').hide();
                    console.log('0');
                }
            });
        });
    </script>
{% endblock %}


</body>
</html>
