{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .puce-choice-yes{
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="x_panel">
            <div class="x_title">
                <h2>Modification de {{ dog.name }}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                {{ form_start(editDog, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'}}) }}

                <div class="form-group">
                    {{ form_label(editDog.name, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.name) }}
                        {% if not editDog.name.vars.valid %}
                            {% for error in addCat.name.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.races, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.races) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.sexe, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.sexe) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.size, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.size) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Est-il pucé ?</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select name="puce-choice" id="puce-choice-select" class="form-control">
                            <option value="" disabled selected>Choisir une option</option>
                            <option value="1">Oui</option>
                            <option value="0">Non</option>
                        </select>
                    </div>
                </div>

                <div class="form-group puce-choice-yes">
                    {{ form_label(editDog.puce, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.puce) }}
                        {{ form_errors(editDog.puce) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.castrated, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.castrated) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.vaccine, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.vaccine) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.dog, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.dog) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.cat, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.cat) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.children, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.children) }}
                        {{ form_errors(editDog.children) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.dateBirthday, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.dateBirthday) }}
                        {% if not editDog.dateBirthday.vars.valid %}
                            {% for error in addCat.dateBirthday.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.dateArriving, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.dateArriving) }}
                        {% if not editDog.dateArriving.vars.valid %}
                            {% for error in addCat.dateArriving.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.deceased, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.deceased) }}
                        {{ form_errors(editDog.deceased) }}

                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.image, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.image) }}
                        {% if not editDog.image.vars.valid %}
                            {% for error in editDog.image.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editDog.comment, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editDog.comment) }}
                    </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </div>

                {{ form_end(editDog) }}

            </div>
        </div>
    </div>

{% endblock %}

