{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .puce-choice-yes{
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="x_panel">
            <div class="x_title">
                <h2>Modification de {{ owner.firstName }} {{ owner.lastName }}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                {{ form_start(editOwner, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'}}) }}

                <div class="form-group">
                    {{ form_label(editOwner.firstName, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editOwner.firstName) }}
                        {{ form_errors(editOwner.firstName) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editOwner.lastName, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editOwner.lastName) }}
                        {{ form_errors(editOwner.lastName) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editOwner.email, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editOwner.email) }}
                        {{ form_errors(editOwner.email) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editOwner.address, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editOwner.address) }}
                        {{ form_errors(editOwner.address) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editOwner.postalCode, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editOwner.postalCode) }}
                        {{ form_errors(editOwner.postalCode) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editOwner.city, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editOwner.city) }}
                        {{ form_errors(editOwner.city) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editOwner.phone, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editOwner.phone) }}
                        {{ form_errors(editOwner.phone) }}
                    </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </div>

                {{ form_end(editOwner) }}

            </div>
        </div>
    </div>

{% endblock %}

