{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .puce-choice-yes{
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="x_panel">
            <div class="x_title">
                <h2>Modification de {{ cat.name }}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                {{ form_start(editCat, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'}}) }}
                <div class="form-group">
                    {{ form_label(editCat.name, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.name) }}
                        {% if not editCat.name.vars.valid %}
                            {% for error in editCat.name.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.races, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.races) }}
                        {% if not editCat.races.vars.valid %}
                            {% for error in editCat.races.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.sexe, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.sexe) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.size, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.size) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Est-il pucé ?</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select name="puce-choice" id="puce-choice-select" class="form-control">
                            <option value="" disabled selected>Choisir une option</option>
                            <option value="1">Oui</option>
                            <option value="0">Non</option>
                        </select>
                    </div>
                </div>

                <div class="form-group puce-choice-yes">
                    {{ form_label(editCat.puce, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.puce) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.castrated, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.castrated) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.vaccine, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.vaccine) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.dog, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.dog) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.cat, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.cat) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.children, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.children) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.dateBirthday, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.dateBirthday) }}
                        {% if not editCat.dateBirthday.vars.valid %}
                            {% for error in editCat.dateBirthday.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.dateArriving, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.dateArriving) }}
                        {% if not editCat.dateArriving.vars.valid %}
                            {% for error in editCat.dateArriving.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.deceased, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.deceased) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.image, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.image) }}
                        {% if not editCat.image.vars.valid %}
                            {% for error in editCat.image.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(editCat.comment, null, { 'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'} })  }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(editCat.comment) }}
                        {% if not editCat.comment.vars.valid %}
                            {% for error in editCat.comment.vars.errors %}
                                <p class="red-error-p">{{ error.message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </div>

                {{ form_end(editCat) }}

            </div>
        </div>
    </div>

{% endblock %}

