{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
                <h2>Liste des propriétaires</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('admin_addCat') }}">Ajout d'un chat</a></li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                    Liste des chats disponible ou non
                </p>

                <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;" cellspacing="0" width="100%">

                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" aria-controls="datatable-responsive" style="width: 98px;">Nom</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 96px;" >Prénom</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 195px;" >Adresse</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 66px;">Ville</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 66px;">Code postal</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 66px;">Editer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for liste in liste_owner %}
                                    <tr role="row" class="even">
										<td>{{ liste.lastName }}</td>
                                        <td>{{ liste.firstName }}</td>
                                        <td>{{ liste.address }}</td>
                                        <td>{{ liste.city }}</td>
                                        <td>{{ liste.postalCode }}</td>
                                        <td>
                                            <a href="{{ path('admin_editOwner', { 'id': liste.id }) }}"><i class="fa fa-pencil"></i></a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('admin/assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-fixedheader/js/dataTables.fixedHeader.min.j') }}s"></script>
    <script src="{{ asset('admin/assets/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-responsive/js/dataTables.responsive.min.j') }}s"></script>
    <script src="{{ asset('admin/assets/datatables.net-responsive-bs/js/responsive.bootstrap.') }}js"></script>
    <script src="{{ asset('admin/assets/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
{% endblock %}