{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}

        <div class="x_panel">
            <div class="x_title">
                <h2>Liste des avis de recherches</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;" cellspacing="0" width="100%">

                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" aria-controls="datatable-responsive" style="width: 25px;">Voir</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 98px;">Nom</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 96px;" >Type animal</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 96px;" >Téléphone</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 66px;">Ville</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 66px;">Date disparition</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 66px;">Date d'ajout</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 66px;">Validation</th>
                                    <th class="sorting" aria-controls="datatable-responsive" style="width: 66px;">Recherche</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for liste in liste_wanted %}
                                    <tr role="row" class="even">
                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-{{ liste.id }}"><i class="fa fa-eye"></i></button></td>
                                        <td>{{ liste.name }}</td>
                                        <td>
                                            {% if liste.type == 1 %}
                                                Chien
                                            {% else %}
                                                Chat
                                            {% endif %}
                                        </td>
                                        <td>{{ liste.phone }}</td>
                                        <td>{{ liste.city }}</td>
                                        <td>{{ liste.dateDisappearance|date('d/m/Y') }}</td>
                                        <td>{{ liste.registrationDate|date('d/m/Y') }}</td>
                                        <td>
                                            {% if liste.valide == 1 %}
                                                <a href="{{ path('admin_validation_wanted_no', { 'id': liste.id }) }}" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cliquez pour annuler la validation"><i class="fa fa-check"></i> Validé</a>
                                            {% else %}
                                                <a href="{{ path('admin_validation_wanted_yes', { 'id': liste.id }) }}" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cliquez pour valider"><i class="fa fa-times"></i> Non validé</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if liste.found == 1 %}
                                                <a href="{{ path('admin_validation_found_no', { 'id': liste.id }) }}" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cliquez pour annuler la validation"><i class="fa fa-check"></i> Retrouvé</a>
                                            {% else %}
                                                <a href="{{ path('admin_validation_found_yes', { 'id': liste.id }) }}" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cliquez pour valider"><i class="fa fa-times"></i> Perdu</a>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <div class="modal modal-{{ liste.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel2">Disparition de {{ liste.name }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>{{ liste.name }} a disparu le {{ liste.dateDisappearance|date('d/m/Y') }} à {{ liste.city }}</p>

                                                    <img src="{{ asset('uploads/img/') }}{{ liste.image.alt }}" class="img-responsive" alt="Disparition : {{ liste.name }}">
                                                    <h5>Commentaire :</h5>
                                                    <p>{{ liste.comment }}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('admin/assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-fixedheader/js/dataTables.fixedHeader.min.j') }}s"></script>
    <script src="{{ asset('admin/assets/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('admin/assets/datatables.net-responsive/js/dataTables.responsive.min.j') }}s"></script>
    <script src="{{ asset('admin/assets/datatables.net-responsive-bs/js/responsive.bootstrap.') }}js"></script>
    <script src="{{ asset('admin/assets/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
{% endblock %}