@font-face {
  font-family: 'spafont';
  src:  url('fonts/spafont.eot?el3mgn');
  src:  url('fonts/spafont.eot?el3mgn#iefix') format('embedded-opentype'),
  url('fonts/spafont.ttf?el3mgn') format('truetype'),
  url('fonts/spafont.woff?el3mgn') format('woff'),
  url('fonts/spafont.svg?el3mgn#spafont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="spa-"], [class*=" spa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'spafont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /*line-height: 1;*/
  display: inline-block;
  width: 100%;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spa-my-icon-cat:before {
  content: "\e900";
}
.spa-my-icon-dog:before {
  content: "\e901";
}
.spa-my-icon-children:before {
  content: "\e902";
}

.glyph {
  font-size: 16px;
  width: 15em;
  padding-bottom: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}

.fs0 {
  font-size: 1.3rem;
  text-align: center;
}
.fs1 {
  font-size: 1.6rem;
  text-align: center;
}

.mb-5{   margin-bottom: 5px; }
.mb-10{   margin-bottom: 10px; }
.mb-15{   margin-bottom: 15px; }
.mb-20{   margin-bottom: 20px; }

.mt-5{   margin-top: 5px; }
.mt-10{   margin-top: 10px; }
.mt-15{   margin-top: 15px; }
.mt-20{   margin-top: 20px; }

.nav-orange{
  background-color: #F19F1F;
}

.liste-cat-dog{
  max-width: 400px;
  max-height: 300px;
}

.card-message{
  margin-top: 140px;
  margin-bottom: 140px;
  padding: 40px !important;
}